<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>225209577523-csjn2cdo46a29hd5iv8ec7ep5sp8hrrb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.225209577523-csjn2cdo46a29hd5iv8ec7ep5sp8hrrb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>225209577523-sjc269a08p9eie6h6oehe6njlkab5dil.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC7vMrXIBlYF6p1AblZBqpHsQNZw2JOX8w</string>
	<key>GCM_SENDER_ID</key>
	<string>225209577523</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.paperpointAdmin.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>paperpoint-cf3ee</string>
	<key>STORAGE_BUCKET</key>
	<string>paperpoint-cf3ee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:225209577523:ios:7b33f0938ebaefa0277346</string>
</dict>
</plist>